/*
This is some CSS to get you started.

It's used in the generated CYOA file.
*/

body {
	position: relative;
	left: 0px;
	top: 0px;
	max-width: 770px;
	margin: 0 auto;
	padding-left: 12px;
	padding-right: 12px;
	color: black;
	background-color: whitesmoke;
	font-weight: normal;
}

h1 {
	font-family: 'Droid serif', serif;
	font-size: 36px;
	font-weight: 400;
	font-style: italic;
	line-height: 44px;
	margin: 0 0 12px;
	text-align: center;
}

p {
	font-family: 'Droid Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 14px;
}

a {
	color: #836406;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
